
@{
    Layout = "_ClientLayout";
}

<a class="btn btn-dark" asp-action="ScheduleAppointment" asp-controller="Client">Appointments</a>
<a class="btn btn-light" asp-action="UploadDocument" asp-action="Home">Submit Documents</a>