@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    You have successfully created an account for the email $"{@Model.Email}". Inform $"{@Model.Email}" to check their email to confirm their account and to receive login credentials.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

